<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixel Painter</p></title>
  <style>
    .canvas{
      border: 1px solid;
      width: max-content;
    }
    .palette-btn{
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      cursor: pointer;
      margin: 2px;
    }
    input[type="radio"]{
      display: none;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="canvas">
      <canvas @click="handleCanvasClick" ref="canvas" :width="width" :height="height"></canvas>
    </div>
    <button @click="isPickingColor = true">{{isPickingColor ? '正在取色' : '取色'}}</button>
    <input type="color" v-model="color">
    <div class="palette">
      <label class="palette-btn" :style="{background:c.value}" v-for="c in commonColors">
        <input type="radio" :value="c.value" v-model="color">
      </label>
    </div>
  </div>
</body>
<script src="vue-2.5.17.js"></script>
<script>
  const app = new Vue({
    el:"#app",
    data(){
      return {
        pixelData: [],
        commonColors: [{
          value: '#000000'
        }, {
          value: '#ffffff'
        }, {
          value: '#aaaaaa'
        }, {
          value: '#555555'
        }, {
          value: '#fed3c7'
        }, {
          value: '#ffc4ce'
        }, {
          value: '#faac8e'
        }, {
          value: '#ff8b83'
        }, {
          value: '#f44336'
        }, {
          value: '#e91e63'
        }, {
          value: '#e2669e'
        }, {
          value: '#9c27b0'
        }, {
          value: '#673ab7'
        }, {
          value: '#3f51b5'
        }, {
          value: '#004670'
        }, {
          value: '#057197'
        }, {
          value: '#2196f3'
        }, {
          value: '#00bcd4'
        }, {
          value: '#3be5db'
        }, {
          value: '#97fddc'
        }, {
          value: '#167300'
        }, {
          value: '#37a93c'
        }, {
          value: '#89e642'
        }, {
          value: '#d7ff07'
        }, {
          value: '#fff6d1'
        }, {
          value: '#f8cbbc'
        }, {
          value: '#ffeb3b'
        }, {
          value: '#ffc107'
        }, {
          value: '#ff9800'
        }, {
          value: '#ff5722'
        }, {
          value: '#B83f27'
        }, {
          value: '#795548'
        }, ],
        color:'red',
        width: 256,
        height: 256,
        isPickingColor: false
      }
    },
    methods:{
      handleCanvasClick(e){
        if(this.isPickingColor){
          this.pickColor(e)
        }else{
          this.drawDot(e)
        }
      },
      rgba2hex(dot){
        dot = Array.from(dot)
        dot = dot.map(it => it.toString(16).padStart(2, '0'))
        return '#' + dot[0] + dot[1] + dot[2]
      },
      pickColor(e){
        var x = e.layerX
        var y = e.layerY
        var p = this.ctx.getImageData(x, y, 1, 1).data
        var hexColor = this.rgba2hex(p)
        this.color = hexColor
        this.isPickingColor = false
      },
      drawDot(e){
        this.ws.send(
          JSON.stringify({
            type: 'drawDot',
            x: e.layerX,
            y: e.layerY,
            color: this.color,
          })
        )
      },
    },
    mounted(){
      var ws = new WebSocket('ws://localhost:9095/pixel')
      this.ws = ws

      var canvas = this.$refs.canvas
      canvas.style.imageRendering = 'pixelated'  //解决图像点放大后模糊的情况

      var ctx = canvas.getContext('2d')
      this.ctx = ctx

      ws.onmessage = (e) => {
        var data = e.data

        if(Object.prototype.toString.call(data) === '[object Blob]'){
          //若为第一次收到服务器的数据，则类型为 [object Blob]
          console.log('blob data received')
          var tmpUrl = URL.createObjectURL(data)
          var image = new Image()
          image.src = tmpUrl
          image.onload = () => {
            ctx.drawImage(image, 0, 0)
          }
        }else{
          data = JSON.parse(data)
          if(data.type == 'updateDot'){
            ctx.fillStyle = data.color
            ctx.fillRect(data.x, data.y, 1, 1)
          }
        }

      }
    },
  })
</script>
</html>